@import "normalize.styl"
@import "fonts.styl"

verde_claro = #EBFFF0
plomo_claro = #DFE4EA
plomo_oscuro = #BFBFBF
morado = #6C6B86
rojo = #9B4040
plomo_rojizo = #867878 

@import "menu.styl"

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
.container
	background-color white
	width 420px
	height 450px
	margin 0 auto
	margin-top 5em
	border 2px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.form
	margin 1em 0.8em
	overflow hidden
.form-field
	margin 1em 0em
	padding 0.8em
	label
		float left
	input
		width 220px
		float right
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
#form_msg_account
	text-align left
	position absolute
	right 170px
	display none
#form_msg_bank
	text-align left
	position absolute
	right 196px
	display none
#form_msg_contact
	text-align left
	position absolute
	right 267px
	display none

.titulo
	background-color plomo_oscuro
	height 33px
	text-align center
	padding-top 0.7em
	margin 0
	border-bottom 3px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.boton
	background-color plomo_rojizo
	color white
	margin-top 2em
	float right
	margin-right 1.5em
	width 105px
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px