@import "normalize.styl"
@import "fonts.styl"
@import "menu.styl"
@import "field_shop.styl"

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
.boton
	background-color plomo_rojizo
	color white
	float right
	width 105px
	margin-left 650px
	margin-top -1.5em
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	position absolute
.container
	background-color white
	width 840px
	height auto
	margin 0 auto
	margin-top 5em
	border 2px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	position absolute
	left 21%
.form
	div
		display inline-flex
		padding-left 3em
	input
		width 100px
	position relative
	//margin-left 18em
.lastcomponent
	position relative
.provider
	margin-top 2em
	width 216px
	//margin 1em
	select
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
.monto
	width 216px
	// margin 3em
	input
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
		text-align center
.producto
	font-weight bold
.table-head
	margin-top 2em
	//margin-left 1em
	margin-right 1em
	th
		padding-right 3.5em
		border-bottom 3px solid plomo_rojizo 
.titulo
	background-color plomo_oscuro
	height 33px
	text-align center
	padding-top 0.7em
	margin 0
	border-bottom 3px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.react-autosuggest
	width 250px
	position absolute
	input
		width 100%
	ul
		margin-top 0
		background-color plomo_claro
		border-right 2px solid black
		border-bottom 2px solid black
		width 88%
		//z-index 11
		li:hover
			background-color verde_claro