<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
	<link rel="shortcut icon" href="{%  static "imgs/favicon.ico" %}">
	<title>Sistema Lior</title>
</head>
<body>
	<nav class="menu_container">
		<ul class="menu">
			<div class="menu_home">
				<a class="icon-home" href="/"></a>
			</div>
			<li class="menu_ventas">
				<a href="/add_sale">Ventas</a>
			</li>
			<li class="menu_compras">
				<a href="/add_shop">Compras</a>
			</li>
			<li class="menu_inventario">
				<a href="/detail_stock">Inventario</a>
			</li>
			<li class="menu_gastos">
				<a href="#">Gastos</a>
			</li>
			<li class="menu_reportes">
				<a href="#">Reportes</a>
			</li>
			<li class="menu_configuracion">
				<a href="#">Configuración</a>
				<ul class="sub-menu">
					<li class="item">
						<a href="/add_stock">Ingreso de Stock</a>
					</li>
					<li class="item">
						<a href="/add_sucursal_2">Agrega Sucursal</a>
					</li>
					<li class="item">
						<a href="/add_unit_2">Agrega Unidad</a>
					</li>
					<li class="item">
						<a href="/add_provider">Agrega Provedor</a>
					</li>
				</ul>
			</li>
			<div class="menu_usuario">
				<span>{{request.user}}</span>
			</div>
			<div class="menu_logout">
				<a class="icon-exit" href="/logout_l"></a>
			</div>
		</ul>
	</nav>
	<section id='bcontainer' class="container">
		<div>
			<img src="../static/imgs/lior.png">
		</div>
	</section>
</body>
</html>