<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recibo</title>
</head>
<body>
	<div class="main">
		<figure>
		</figure>
		<div class="line1">
			<span>RECIBO</span>
			<span>No. {{ pk }}</span>
		</div>
		<div class="line2">
			<span>{{ customer }}</span>
			<span>{{ date|date:"d M Y" }}</span>
		</div>
		<table class="table-items">
			<tr>
				<th>ITEM</th>
				<th>CODIGO</th>
				<th>DESCRIPTION</th>
				<th>CANTIDAD</th>
				<th>PRECIO</th>
				<th>SUBTOTAL</th>
			</tr>
			{% for index in items %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ index.item.code }}</td>
				<td>{{ index.item.description }}</td>
				<td>{{ index.qty }}</td>
				<td>{{ index.price }}</td>
				<td>{% widthratio index.qty 1 index.price %}</td>
			</tr>
			{% endfor %}	
		</table>
		<div class="total">
			<span>Total Bs.</span>
			<span>{{ total }}</span>
		</div>
	</div>
</body>
</html>