<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recibo</title>
</head>
<body>
	<div class="main">
		<figure>
		</figure>
		<div class="line1">
			<span>RECIBO</span>
			<span>No.</span>
			<span>NNN</span>
		</div>
		<div class="line2">
			<span>XXXXXXXXXXXXXXXX</span>
			<span>NN/NN/NN</span>
		</div>
		<table class="table-items">
			<tr>
				<th>ITEM</th>
				<th>CODIGO</th>
				<th>DESCRIPTION</th>
				<th>CANTIDAD</th>
				<th>PRECIO</th>
				<th>SUBTOTAL</th>
			</tr>	
		</table>
		<div class="total">
			<span>Total Bs.</span>
			<span>NNNNN.NN</span>
		</div>
	</div>
</body>
</html>