<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- {% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/invoice.css" %}"> -->
	<title>Recibo</title>
</head>
<body style="font-family:Arial; font-size:14px;">
	<div class="main_left" style="width:400px; position: relative;">
		<figure style="width:50px; margin:0">
			<img style="width:50px; margin:0" src="/Users/elektrodx/Documents/Development/lior/lior/lior.png">
		</figure>
		<div>
			<span style="font-size:18px; left:60px; margin-left:60px;">RECIBO</span>
			<span style="float:right;">No. {{ pk }}</span>
		</div>
		<div style="margin-top:18px;">
			<span>{{ customer }}</span>
			<span style="float:right;">{{ date|date:"d M Y" }}</span>
		</div>
		<table style="margin-top:28px;">
			<tr style="border-bottom: 2px solid; padding:0px;">
				<th style="border-bottom: 2px solid;">ITEM</th>
				<th style="border-bottom: 2px solid;">CODIGO</th>
				<th style="border-bottom: 2px solid;">DESCRIPTION</th>
				<th style="border-bottom: 2px solid;">CANTIDAD</th>
				<th style="border-bottom: 2px solid;">PRECIO</th>
				<th style="border-bottom: 2px solid;">SUBTOTAL</th>
			</tr>
			{% for index in items %}
			<tr style="font-size:10px; margin-top:0px;">
				<td>{{ forloop.counter }}</td>
				<td>{{ index.item.code }}</td>
				<td>{{ index.item.description }}</td>
				<td>{{ index.qty }}</td>
				<td>{{ index.price }}</td>
				<td>{{ index.total_cost }}</td>
			</tr>
			{% endfor %}	
		</table>
		<div style="position: absolute; bottom:-500px; right:10px">
			<span>Total Bs.</span>
			<span>{{ total }}</span>
		</div>
	</div>
</body>
</html>