<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/report_sale.css" %}">
	<title>Reporte de Ventas</title>
</head>
<body>
	{% include "menu.html" %}
	<section id='bcontainer' class="container">
	<h3 class="titulo">Reporte Diario de Ventas</h3>
		<div class="resumen">
			<div>
				<span>Cantidad de Ventas: {{count}}</span>
			</div>
			<div >
				<span>Por un monto total de: {{amount}} Bs.</span>
			</div>
			<div>
				<span>Con una Ganancia de: {{income}} Bs.</span>
			</div>
		</div>
	<h4 class="titulo">Listado de las ventas del Dia</h4>
		<div class="listado">
			<table class="table">
			<tr class="table-head">
				<th>Numero</th>
				<th class="cliente">Cliente</th>
				<th class="monto">Monto</th>
				<th>Usuario<th>
			</tr>
		{% for index in sales %}
			<tr class="table-data">
				<td>{{index.pk}}</td>
				<td class="cliente">{{index.customer}}</td>
				<td class="monto">{{index.amount}}</td>
				<td>{{index.user}}</td>
			</tr>
		{% endfor %}
		</table>
		</div>	
	</section>
</body>
</html>