<nav class="menu_container">
	<ul class="menu">
		<div class="menu_home">
			<a class="icon-home" href="/"></a>
		</div>
		<li class="menu_ventas">
			<a href="/add_sale">Ventas</a>
		</li>
		<li class="menu_compras">
			<a href="/add_shop">Compras</a>
		</li>
		<li class="menu_inventario">
			<a href="#">Inventario</a>
			<ul class="sub-menu">
				<li class="item">
					<a href="/detail_stock">Detalle Inventario</a>
				</li>
				<li class="item">
					<a href="/search_stock" class="icon-search"></a>
				</li>
			</ul>
		</li>
		<li class="menu_gastos">
			<a href="#">Gastos</a>
		</li>
		<li class="menu_reportes">
			<a href="#">Reporte de Ventas</a>
			<ul class="sub-menu">
				<li class="item">
					<a href="/report_sale">Ventas Diarias</a>
				</li>
				<li class="item">
					<a href="#">Ventas Semanales</a>
				</li>
				<li class="item">
					<a href="#">Ventas Mensuales</a>
				</li>
			</ul>
		</li>
		<li class="menu_reportes">
			<a href="#">Reporte de Compras</a>
		</li>
		<li class="menu_configuracion">
			<a href="#">Configuración</a>
			<ul class="sub-menu">
				<li class="item">
					<a href="/add_stock">Ingreso de Stock</a>
				</li>
				<li class="item">
					<a href="/add_sucursal_2">Agrega Sucursal</a>
				</li>
				<li class="item">
					<a href="/add_unit_2">Agrega Unidad</a>
				</li>
				<li class="item">
					<a href="/add_provider">Agrega Provedor</a>
				</li>
				<li class="item">
					<a href="/add_customer_2">Agrega Cliente</a>
				</li>
			</ul>
		</li>
		<div class="menu_usuario">
			<span>{{request.user}}</span>
		</div>
		<div class="menu_logout">
			<a class="icon-exit" href="/logout_l"></a>
		</div>
	</ul>
</nav>