@import "normalize.styl"
@import "fonts.styl"

verde_claro = #EBFFF0
plomo_claro = #DFE4EA
plomo_oscuro = #BFBFBF
morado = #6C6B86
rojo = #9B4040 

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
	
.menu
	background-color plomo_oscuro
	display inline-flex
	height 53px
	width 100%
	list-style-type none
	margin 0
	a
		color morado
	li:hover
		background-color verde_claro
	
	&_home
		a
			color white
		padding 0.7em 1em
		font-size 1.3em
	&_ventas
		padding 1em
	&_compras
		padding 1em
	&_inventario
		padding 1em
	&_gastos
		padding 1em
	&_reportes
		padding 1em
	&_configuracion
		padding 1em
	&_usuario
		padding 1em
		position absolute
		right 3.5em
		color verde_claro
	&_logout
		a
			color white
		font-size 1.3em
		padding 0.7em 1em
		position absolute
		right 1em
	
	