<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/add_stock.css" %}">
	<title>Registro de Stock</title>
</head>
<body>
	<section class="container">
		<h3 class="titulo">Registro de Stock</h3>
		<form action="" class="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="brand_field">
				{{ form.brand.errors }}
				<label for="id_brand">Marca del Producto:</label>
				{{form.brand}}
			</div>
			<div class="code_field">
				{{form.code.errors}}
				<label for="id_code">Codigo de Producto:</label>
				{{ form.code }}
			</div>
			<div class="date_end_field">
				{{ form.date_end.errors }}
				<label for="id_date_end">Fecha de Vencimiento:</label>
				{{ form.date_end }}
			</div>
			<div class="qty_field">
				{{ form.qty.errors }}
				<label for="id_qty">Cantidad:</label>
				{{ form.qty }}
			</div>
			<div class="description_field">
				{{ form.description.errors }}
				<label for="id_description">Descripción</label>
				{{ form.description }}
				<span class="msg_description">Detalle del Producto</span>
			</div>
			<div class="price_base_field">
				{{ form.price_base.errors }}
				<label for="id_price_base">Precio Base:</label>
				{{ form.price_base }}
				<span class="msg_price_base">Precio de lista</span>
			</div>
			<div class="units_field">
				{{ form.units.errors }}
				<label for="id_units">Unidad de medida:</label>
				{{ form.units }}
			</div>
			<div class="place_field">
				{{ form.place.errors }}
				<label for="id_place">Ubicacion:</label>
				{{ form.place }}
			</div>
			<div class="note_field">
				{{ form.note.errors }}
				<label for="id_note">Notas:</label>
				{{ form.note }}
				<span class="msg_note">Notas u observaciones</span>
			</div>
			<input type="submit" value="Grabar">
		</form>
	</section>
</body>
</html>