<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/add_unit.css" %}">
	<title>Nuevas Unidades de Medida</title>
</head>
<body>
	<section class="container">
		<h3 class="titulo">Registro de Unidades de Medida</h3>
		<form action="" class="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="field">
				{{ form.unit.errors }}
				<label for="id_unit" class="field-label">Unidad:</label>
				{{form.unit}}				
			</div>
			<span class="msg_unit">Unidad de Medida: pza, litro, kilo, caja, etc.</span>
			<input type="submit" value="Grabar">
		</form>
	</section>
</body>
</html>