<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/detail_stock.css" %}">
	<title>Lista de Productos en Tienda</title>
</head>
<body>
	<nav class="menu_container">
		<ul class="menu">
			<div class="menu_home">
				<a class="icon-home" href="/"></a>
			</div>
			<li class="menu_ventas">
				<a href="/add_sale">Ventas</a>
			</li>
			<li class="menu_compras">
				<a href="/add_shop">Compras</a>
			</li>
			<li class="menu_inventario">
				<a href="/detail_stock">Inventario</a>
			</li>
			<li class="menu_gastos">
				<a href="#">Gastos</a>
			</li>
			<li class="menu_reportes">
				<a href="#">Reportes</a>
			</li>
			<li class="menu_configuracion">
				<a href="#">Configuración</a>
				<ul class="sub-menu">
					<li class="item">
						<a href="/add_stock">Ingreso de Stock</a>
					</li>
					<li class="item">
						<a href="/add_sucursal_2">Agrega Sucursal</a>
					</li>
					<li class="item">
						<a href="/add_unit_2">Agrega Unidad</a>
					</li>
					<li class="item">
						<a href="/add_provider">Agrega Provedor</a>
					</li>
					<li class="item">
						<a href="/add_customer_2">Agrega Cliente</a>
					</li>
				</ul>
			</li>
			<div class="menu_usuario">
				<span>{{request.user}}</span>
			</div>
			<div class="menu_logout">
				<a class="icon-exit" href="/logout_l"></a>
			</div>
		</ul>
	</nav>
	<section class="container">
		<h3 class="titulo">Listado de Productos en Tienda</h3>
		<table class="table">
			<tr class="table-head">
				<th>Codigo</th>
				<th>Marca</th>
				<th>Producto</th>
				<th>Vencimiento</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>Total</th>
				<th>Presentación</th>
				<th>Fraccionado</th>
				<th>Fraccionado Restante</th>
			</tr>
		{% for index in q_stock %}
			<tr class="table-data">
				<td><a href="/eitem/{{index.code}}">{{index.code}}</a></td>
				<td>{{index.brand}}</td>
				<td>{{index.description}}</td>
				<td>{{index.date_end|date:"d-m-Y"}}</td>
				<td>{{index.qty}}</td>
				<td>{{index.price_base}}</td>
				<td>{{index.total_price}}</td>
				<td>{{index.units}}</td>
				<td class="center">{{index.parts}}
				<td>{{index.parts_left}}</td>
			</tr>
		{% endfor %}
		</table>
	</section>
</body>
</html>