<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/add_stock.css" %}">
	<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
	{% include 'autocomplete_light/static.html' %}
	<title>Lista de Productos en Tienda</title>
</head>
<body>
	{% include "menu.html" %}
	<section class="container">
		<h3 class="titulo">Búsqueda de Productos</h3>
		<form action="" class="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="field last">
				{{ form.description.errors }}
				<label for="id_description" class="field-label">Descripción:</label>
				<div class="msg-container icon-notification">
					<span id="msg_description">Detalle del Producto</span>		
				</div>
				{{form.description}}
			</div>
			<input class="boton" type="submit" value="Buscar">
		</form>
	</section>
</body>
</html>