@import "normalize.styl"
@import "fonts.styl"
@import "menu.styl"
@import "field.styl"
@import "nib"

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
#msg_unit
	width 145px
.boton
	background-color plomo_rojizo
	color white
	margin-top 1em
	float right
	margin-right 1.5em
	width 105px
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.container
	background-color white
	width 420px
	height 180px
	margin 0 auto
	margin-top 5em
	border 2px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	position fixed
	left 39%
.form
	label
		float left
	width 88%
	margin 1em 0.8em
	position relative
	//overflow hidden
.errorlist
	color rojo
	font-size 0.9em
	margin 0 1em 0.5em 1em
.msg-container
	color morado
	margin-top 0.1em
	font-size 1.1em
	margin-left 0.5em
	float right
	span
		display none
		font-size 0.8em
		font-family 'Roboto'
		padding 0.5em
		margin-left 3em
		background-color white
		text-align left
		position absolute
		top 10px
.titulo
	background-color plomo_oscuro
	height 33px
	text-align center
	padding-top 0.7em
	margin 0
	border-bottom 3px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px