<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	{% load static from staticfiles %}
	link(rel='stylesheet', type='text/css', href='{% static #{css/singin.css} %}')
	title login Lior System
body
	section.container
		h1 hola

	