<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/add_sucursal.css" %}">
	<title>Nuevas Sucursales</title>
</head>
<body>
	<nav class="menu_container">
		<ul class="menu">
			<div class="menu_home">
				<a class="icon-home" href="/"></a>
			</div>
			<li class="menu_ventas">
				<a href="#">Ventas</a>
			</li>
			<li class="menu_compras">
				<a href="/add_shop">Compras</a>
			</li>
			<li class="menu_inventario">
				<a href="/detail_stock">Inventario</a>
			</li>
			<li class="menu_gastos">
				<a href="#">Gastos</a>
			</li>
			<li class="menu_reportes">
				<a href="#">Reportes</a>
			</li>
			<li class="menu_configuracion">
				<a href="#">Configuración</a>
				<ul class="sub-menu">
					<li class="item">
						<a href="/add_stock">Ingreso de Stock</a>
					</li>
					<li class="item">
						<a href="/add_sucursal_2">Agrega Sucursal</a>
					</li>
					<li class="item">
						<a href="/add_unit_2">Agrega Unidad</a>
					</li>
					<li class="item">
						<a href="/add_provider">Agrega Provedor</a>
					</li>
					<li class="item">
						<a href="/add_customer_2">Agrega Cliente</a>
					</li>
				</ul>
			</li>
			<div class="menu_usuario">
				<span>{{request.user}}</span>
			</div>
			<div class="menu_logout">
				<a class="icon-exit" href="/logout_l"></a>
			</div>
		</ul>
	</nav>
	<section class="container">
		<h3 class="titulo">Registro de Sucursales</h3>
		<form action="" class="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="field">
				{{ form.name.errors }}
				<label for="id_sucursal">Nombre de sucursal:</label>
				<div class="msg-container icon-notification">
					<span id="msg_sucursal">Ej. sucursal: Cochabamba, La Paz, Santa Cruz, etc.</span>
				</div>
				{{form.name}}
			</div>
			<input class="boton" type="submit" value="Grabar">
		</form>
	</section>
</body>
</html>