<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/add_sucursal.css" %}">
	<title>Nuevas Sucursales</title>
</head>
<body>
	{% include "menu.html" %}
	<section class="container">
		<h3 class="titulo">Registro de Sucursales</h3>
		<form action="" class="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="field">
				{{ form.name.errors }}
				<label for="id_sucursal">Nombre de sucursal:</label>
				<div class="msg-container icon-notification">
					<span id="msg_sucursal">Ej. sucursal: Cochabamba, La Paz, Santa Cruz, etc.</span>
				</div>
				{{form.name}}
			</div>
			<input class="boton" type="submit" value="Grabar">
		</form>
	</section>
</body>
</html>