<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/singin.css" %}">
	<title>Ingreso al Sitema</title>
</head>
<body>
	<nav class="menu_container">
		<ul class="menu">
		</ul>
	</nav>
	<section class="container">
		<h3 class="titulo">Ingreso al Sistema</h3>
		{% if error_m %}
		<div class="error">
			<span>{{error_m}}</span>
		</div>
        {% endif %}
		<form action="" method="post">
			{% csrf_token %}
			<div class="usuario">
				<label for="id_username" class="usuario-label">Usuario:</label>
				{{ form.username}}
			</div>
			<div class="pass">
				<label for="id_password" class="pass-label">Contraseña:</label>
				{{ form.password }}
			</div>
			<input class="boton" type="submit" value= "Ingresar">
		</form>
	</section>
</body>
</html>