@import "normalize.styl"
@import "fonts.styl"
@import "menu.styl"

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
.container
	background-color white
	width 640px
	height auto
	margin 0 auto
	margin-top 5em
	border 2px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.form
	margin 1em 0.8em
	position relative
.last
	margin-bottom 5em
.errorlist
	color rojo
	font-size 0.9em
	margin 0 1em 0.5em 1em
.titulo
	background-color plomo_oscuro
	height 33px
	text-align center
	padding-top 0.7em
	margin 0
	border-bottom 3px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.boton
	background-color plomo_rojizo
	color white
	bottom -50px
	right 0
	margin-right 1.5em
	width 105px
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	position absolute