@import "normalize.styl"
@import "fonts.styl"
@import "menu.styl"
@import "field.styl"

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
#descAmount
	width 80px
.aling
	padding-right 1.6em
.container
	position fixed
	background-color white
	width 800px
	height auto
	margin 0 auto
	margin-top 5em
	left 21%
	border 2px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.CartComponent
	width 100%
	// margin-top 2em
.form
	// margin 1em 0.8em
	position relative
.form-client-nombre
	width 300px
	margin 0
	margin-left 1em
	float left
.form-client-ci
	width 300px
	margin-left 1em
	float left
.form-client-date
	width 100px
	float right
.form-client-stock
	margin-top 1em
	margin-left 1em
	display inline-block
.form-search
	margin-top 1em
	margin-left 18em
.last
	margin-bottom 5em
.list
	float left
	margin-left 266px
.errorlist
	color rojo
	font-size 0.9em
	margin 0 1em 0.5em 1em
.PriceFinal
	float left
	margin-top -1.3em
	margin-left 1em
	width 80px
	input
		width 100%
.table-head
	margin-top 2em
	th
		padding-right 3.5em
.titulo
	background-color plomo_oscuro
	height 33px
	text-align center
	padding-top 0.7em
	margin 0
	border-bottom 3px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.boton
	background-color plomo_rojizo
	color white
	float right
	width 105px
	margin-right -10em
	margin-top -1.5em
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.react-autosuggest
	width 250px
	position absolute
	input
		width 100%
	ul
		margin-top 0
		background-color plomo_claro
		border-right 2px solid black
		border-bottom 2px solid black
		width 88%
		z-index 11
		li:hover
			background-color verde_claro
.sumComponent
	margin-top 2em
	padding-right 1em
	display inline-flex
	margin-bottom 2em
	div
		margin-left 3em
.padding
	margin-top 0
	margin-bottom 0
	margin-left 3em
.qtyField
	float left
	margin-top -1.3em
	margin-left 1em
	width 80px
	input
		width 100%