.field_sales
	margin 1em 0em
	padding 0.8em 0
	position relative
	input
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
		float right
		padding-left 0.5em
		width 235px
	&-label
		float left
	div:hover
		span			
			//display block
.field_auto
	input
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
		float right
		padding-left 0.5em
		width 235px
	&-label
		float left
	div:hover
		span			
			//display block
.form-client-nombre
	input
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
	width 300px
	margin 0
	margin-left 1em
	float left
.form-client-ci
	input
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
	width 300px
	margin-left 1em
	float left
.separador
	margin 1em 0 1em 1em
.last
	margin-bottom 4em
.form-client-nombre
	input
		border 1.5px solid black
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		border-top-left-radius 10px
		border-top-right-radius 10px
	width 300px
	margin 0
	margin-left 1em
	float left
.form-client-ci
	width 300px
	margin-left 1em
	float left
.form-client-date
	width 100px
	float right
	font-weight bold
.form-client-stock
	margin-top 1em
	margin-left 1.5em
	display inline-block
.form-search
	margin-top 1em
	margin-left 18em
.btn_sale
	background-color plomo_rojizo
	color white
	float right
	width 105px
	margin-left 9em
	//margin-top -2.5em
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	position absolute