@import "normalize.styl"
@import "fonts.styl"
@import "menu.styl"
@import "field.styl"
@import "field_sales.styl"

body
	background-color plomo_claro
	font-family 'Roboto'
	font-size 16px
	a
		text-decoration none
.container
	background-color white
	width 800px
	height auto
	margin auto
	margin-top 5em
	border 2px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
	// position absolute


.titulo
	background-color plomo_oscuro
	height 33px
	text-align center
	padding-top 0.7em
	margin 0
	border-bottom 3px solid black
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
.boton
	background-color plomo_rojizo
	color white
	float right
	width 105px
	height 30px
	margin-right -10em
	// margin-top -1.5em
	border-bottom-left-radius 12px
	border-bottom-right-radius 12px
	border-top-left-radius 12px
	border-top-right-radius 12px
