<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/add_provider.css" %}">
	<title>Nuevos Proveedores</title>
</head>
<body>
	<section class="conainer">
		<h3 class="titulo">Registro de Proveedores</h3>
		<form action="" class="form" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="name_field">
				{{ form.name.errors }}
				<label for="id_name">Nombre:</label>
				{{form.name}}
			</div>
			<div class="email_field">
				{{form.email.errors}}
				<label for="id_email">Correo-e:</label>
				{{ form.email }}
			</div>
			<div class="address_field">
				{{ form.address.errors }}
				<label for="id_address">Dirección:</label>
				{{ form.address }}
			</div>
			<div class="fono_field">
				{{ form.fono.errors }}
				<label for="id_fono">Teléfono:</label>
				{{ form.fono }}
			</div>
			<div class="account_field">
				{{ form.account.errors }}
				<label for="id_account">Número de Cuenta</label>
				{{ form.account }}
				<span id="msg_account">Número de cuenta en el Proveedor</span>
			</div>
			<div class="bank_account_field">
				{{ form.bank_account.errors }}
				<label for="id_bank_account">Cuenta Bancaria:</label>
				{{ form.bank_account }}
				<span class="msg_bank_account">Cuenta Bancaria del Proveedor</span>
			</div>
			<div class="contact_field">
				{{ form.contact.errors }}
				<label for="id_contact">Contacto:</label>
				{{ form.contact }}
				<span class="msg_contact">Persona de contacto</span>
			</div>
			<input type="submit" value="Grabar">
		</form>
	</section>
</body>
</html>